@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  /* Sheared style sector */
    .display-flex{
        display: flex;
    }
/* dark 02 */
    .text-color-dark{
         color: #424242;
    }
 /* dark 03 */
 .text-color-light-dark{
    color: #727272;
}
/* background color  */
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
/* primary button desing */
.bnt-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}
/* max-width sate style */
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}

                                /* Header style sector */



  /* Navbar style sector */
  .navbar{
    justify-content: space-between;
    align-items: center;
  }
  .brand-name{
    font-weight: 700;
    font-size: 3rem;
  }
  .nav-list{
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;
  }
  .link-item{
    text-decoration: none;
  }
  .navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
  }

  /* Banner style sector */
  .banner-content{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 40px;
  }

  .banner-titel{
    font-weight: 700;
    font-size: 4rem;
  }
  .banner-description{
    color: #727272;
    font-size: 1rem;
  }
  .banner-button:hover{
    background-color: rgb(82, 214, 214);
    color: black;
  }
  .banner-img{
    width: 100%;
  }

                                  /* Main style sector */

 /* Features section style */
 .features{
    display: flex;
    align-items: center;
 }
 .features-img-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
 }
 .features-details-box{
    margin-left: 70px;
    max-width: 537px;
 }
 .features-titel{
    font-size: 2.8rem;
 }
 .titel-text1{
    color: #727272;
    font-weight: 500;
 }
 .titel-text2{
    color: #000;
    font-weight: 800;
 }
 .titel-text3{
    color: #FF900E;
    font-weight: 800;
 }
 .features-description{
    font-size: 1rem;
 }
 .second-button:hover{
    background-color: rgb(82, 214, 214);
    color: black;
  }

  /* Facts section style */
  .facts-details{
    max-width: 542px;
  }
  .facts-titel{
    font-size: 2.8rem;
    font-weight: 700;
     margin: 1px;
  }
  .facts-boxes{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    text-align: center;
  }
  .facts-box{
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding:  40px 50px;
  }
  .facts-number{
    font-size: 2.3rem;
    color: #424242;
  }
  .facts-box-des{
    font-size: 1.3rem;
    color: #727272;
  }


/*  Sponspors section style */
.Sponspors-details{
    text-align: center;
}
.Sponspors-titel{
    font-size: 2.5rem;
}
.Sponspors-img-box{
    justify-content: space-between;
    align-items: center;
    margin: 50px 30px;
}







  /* Responsive for Mobile and small Devices */

  @media screen and (max-width:576px) {
    
    .navbar, .nav-links{
        flex-direction: column;
    }
    .brand-name{
        font-size: 1.8rem;
    }
    .banner-titel{
        font-size: 2rem;
    }
    .banner-description{
        font-size: 0.9rem;
    }
   .banner-button{
        padding: 14px 20px;
        font-size: 1rem;
        font-weight: 600;
    }
    .banner-button:hover{
        background-color: rgb(82, 214, 214);
        color: black;
    }

    .features{
        flex-direction: column-reverse;
     }
     .features-img-box{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
     }
     .features-details-box{
        margin-top: -90px;
        margin-left: 8px;
        margin-bottom: 50px;
        max-width: 90%;
     }
     .second-button:hover{
        background-color: rgb(82, 214, 214);
        color: black;
      }

      .second-button{
        padding: 15px 20px;
        font-size: 1rem;
        border-radius: 5px;
      }
       .facts-details{
        max-width: 330px;
        margin-left: 30px;
      }
      .facts-boxes{
        flex-direction: column;
        gap: 50px;
      }
      




  }









  @media screen and (min-width: 577px) and (max-width: 992px){

    .features{
        flex-direction: column-reverse;
     }
     .features-details-box{
        margin-top: -90px;
        margin-bottom: 50px;
      }
      .facts-details{
        margin-left: 130px;
      }
      .facts-boxes{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
      }
  }