@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  /* Sheared style sector */
    .display-flex{
        display: flex;
    }
/* dark 02 */
    .text-color-dark{
         color: #424242;
    }
 /* dark 03 */
 .text-color-light-dark{
    color: #727272;
}
/* background color  */
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

  /* Header style sector */


  /* Navbar style sector */
  .navbar{
    justify-content: space-between;
    align-items: center;
  }
  .brand-name{
    font-weight: 800;
    font-size: 2.8rem;
  }
  .nav-list{
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;
  }
  .link-item{
    text-decoration: none;
  }
  .navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
  }